#homepage{
    --width : 80vw;
  }
.homecontent{
  /* position: absolute; */
  --visibility : 100%;
  transition: 0.7s;
  padding: 10vh 0px 0px 10vw;
  margin-right: var(--margins);
  color: white;
}

.homecontent h1{
  font-size: 80px;
  
}
.dot1{
  animation: dots 2s ease-in 1s infinite backwards alternate;
}
.dot2{
  animation: dots 2s ease-in 2s infinite backwards alternate;
}
.dot3{
  animation: dots 2s ease-in 3s infinite backwards alternate;
}
.homecontent p{
  font-size: 30px;
}

@keyframes dots{
  0%{opacity: 0%;}
  100%{opacity: 100%;}
}
  